# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# Database
db.sqlite3

# Django stuff
*.log
*.pot
*.pyc
local_settings.py

# VSCode settings
.vscode/

# System files
*.DS_Store
Thumbs.db
