# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Django migrations (optional, if you don’t want them in git)
*/migrations/__pycache__/
*/migrations/*.pyc

# VS Code settings
.vscode/

# Environment variables
.env

# Other
*.DS_Store
